# CONFIGURACIÓN DEL ENTORNO
ENVIRONMENT=local # opciones: local | databricks

# RUTAS BASE (SISTEMA DE ARCHIVOS LOCAL O CONTENEDORES CLOUD)
# En local usaremos rutas físicas relativas. En Databricks usaremos "abfss://"
BASE_LANDING_PATH=data/landing
BASE_RAW_PATH=data/raw
BASE_BRONZE_PATH=data/bronze
BASE_CHECKPOINT_PATH=data/checkpoints

# CONFIGURACIÓN DE APACHE KAFKA (STREAMING)
CONFLUENT_BOOTSTRAP_SERVER=pkc-xxxx.region.azure.confluent.cloud:9092
CONFLUENT_API_KEY=TU_API_KEY
CONFLUENT_API_SECRET=TU_API_SECRET